{% extends 'user/user/base.html' %}
{% block content %}
    <div class="col-md-6 offset-md-3">
        <form class="card" style="padding: 10px; border-radius: 10px" method="post" action="{% url 'login' %}">
            <h1>Вход</h1>
            {% csrf_token %}
                <br/>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" name="email" id="emailInput" placeholder="E-mail" required>
                    <label for="emailInput">Email</label>
                </div>
                <br/>
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" name="password" id="passwordInput" placeholder="Пароль" required>
                    <label for="passwordInput">Пароль</label>
                </div>
                <br/>
                <button type="submit" class="btn bigger-font" style="background-color: #489205; color: white">Войти</button>
        </form>
        <br/>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="{% url 'signup' %}">Нет аккаунта? Зарегистрируйтесь</a>
    </div>
{% endblock %}