{% extends 'staff/base.html' %}
{% block content %}
    <div class="col-md-6 offset-md-3">
        <h1>Новая книга</h1>
    
        <br/>
    
        <form method="POST">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-floating mb-3">
                    {{ field }}
                    <label for="{{ field.id_for_label }}">{{ field.template_name }}</label>
                </div>
            {% endfor %}
    
            <br/>
            <button type="submit" class="btn btn-success">Создать</button>
            <a href="{{ previous_url }}" class="btn">Назад</a>
    
        </form>

    </div>
{% endblock %}