{% extends 'user/base.html' %}
{% block content %}
    {% load static %}

    <h1 class="font-title">Наши книги</h1>
    <!-- Добавьте фильтры и элементы управления сортировкой здесь -->
    <form method="get">
        <div class="row align-items-center" style="border-radius: 20px; padding: 10px;">
            <div class="col">
                <h5>Сортировка: </h5>
            </div>

            <div class="col">
                <select class="custom-dropdown" name="alphabetSort">
                    <option value="0">По названию</option>
                    <option value="1">А-Я</option>
                    <option value="-1">Я-А</option>
                </select>
            </div>

            <div class="col">
                <select class="custom-dropdown" name="costSort">
                    <option value="0">По цене</option>
                    <option value="1">По возрастанию</option>
                    <option value="-1">По убыванию</option>
                </select>
            </div>

            <div class="col">
                <h5>Фильтр: </h5>
            </div>

            <div class="col">
                <select class="custom-dropdown" name="categoryFilter">
                    <option value="0" selected>Категория</option>
                    {% for category in categories %}
                    <option value="{{ category.id }}">{{ category.name }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="col">
                <select class="custom-dropdown" name="authorFilter">
                    <option value="0" selected>Автор</option>
                    {% for author in authors %}
                    <option value="{{ author.id }}">{{ author.name }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="col"></div>

            <div class="col">
                <button type="submit" class="btn" style="background-color: #489205; color: white; border-radius: 10px">Применить</button>
            </div>
        </div>
    </form>

    <br/>
    <br/>
    {% for book in books %}
    <div class="card flex-md-row mb-4 box-shadow h-md-250" style="background: #f5fce5; border-radius: 20px; border-color: #000000">
        <div class="card-body d-flex flex-column align-items-start">
            <h3 class="card-title"><a href="{% url 'book_info' book.id %}" style="background-color: beige; color: black; border-color: beige; border-radius: 10px">{{ book.title }}</a></h3>
            <p class="card-text bigger-font">{{ book.author.name }}</p>
            <p class="card-text bigger-font">₽{{ book.price }}</p>
            <div class="mt-auto">
                <form method="post" action="{% url 'add_to_cart' book.id %}">
                    {% csrf_token %}
                    <button type="submit" class="book-btn">В корзину</button>
                </form>
            </div>
        </div>
        <img class="card-img-right flex-auto d-none d-md-block" src="{% static 'book.jpg' %}" alt="Название Книги" data-holder-rendered="true" style="width: 200px; height: 250px; border-bottom-right-radius: 20px; border-top-right-radius: 20px;">
    </div>
    {% endfor %}
    

{% endblock %}