<link href="../../djangoProject/static/styles.css" rel="stylesheet">

<nav class="navbar navbar-expand-lg custom-navbar p-4">
    <div class="container-fluid">
        <a class="navbar-brand bigger-font-brand" href="{% url 'home' %}">ПочитайКа</a>
        <button class="navbar-toggler collapsed" style="padding-right: 0px" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            Меню
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-0 mb-lg-0">
                {% if user.is_authenticated %}
{#                <li class="ml-auto"><a class="nav-link bigger-font" href="#">Личный кабинет</a></li>#}
                <li class="ml-auto"><a class="nav-link bigger-font" href="{% url 'logout' %}">Выйти</a></li>
                {% else %}
                <li class="ml-auto"><a class="nav-link bigger-font" href="{% url 'login' %}">Войти</a></li>
                {% endif %}
            </ul>
            <ul class="navbar-nav ml-auto mb-0 mb-lg-0">
                <li class="ml-auto"><a class="nav-link bigger-font" href="#">О нас</a></li>
                <li class="ml-auto"><a class="nav-link bigger-font" href="{% url 'catalog' %}">Каталог</a></li>
                {% if user.is_authenticated %}
                <li class="ml-auto"><a class="book-btn bigger-font" style="margin-left: 30px; " href="{% url 'cart' %}">Корзина</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>